.container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  gap: 1rem;

  button {
    padding: 1rem;
    border: 0;
    background: transparent;

    & + .active {
      border-bottom: 2px solid var(--violet-600);
    }
  }
}
