.container {
  text-align: center;

  span {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    width: 67px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.iconContainer {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  svg {
    color: #cecece;
  }
}

.active {
  background: var(--violet-600);

  svg {
    color: var(--violet-600);
    transform: rotate(10deg);
  }

  button {
    background: var(--violet-200);
  }
}

.icon {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--white);

  &:hover {
    svg {
      transform: rotate(10deg);
    }
  }

  svg {
    font-size: 1.8rem;
    transition: transform 200ms;
  }
}

@media (max-width: 640px) {
  .container {
    &:first-child {
      margin-left: 2rem;
    }
    &:last-child {
      margin-right: 2rem;
    }
  }
}
