.container {
  margin-top: 1rem;
}

.content {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  gap: 0 1rem;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 640px) {
  .products {
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .content {
    padding: 0;
  }
}
