.container {
  margin: 2rem 0;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: var(--gray-700);
}

.content {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 2rem;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .content {
    padding: 0;
  }
  .title {
    margin-left: 2rem;
  }
  .categories {
    overflow-x: scroll;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
