.container {
  border-radius: 0.9rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: var(--gray-100);

  &:hover {
    .cover {
      opacity: 1;
    }
    .info {
      bottom: 0;
      opacity: 1;
    }
  }

  .title {
    position: absolute;
    font-size: 1.2rem;
    padding: 0 1rem;
    font-weight: 600;
    width: 100%;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .id {
    position: absolute;
    left: 1rem;
    padding: 0.1rem 0.5rem;
    bottom: 1.25rem;
    background: var(--white);
    border-radius: 5px;
    font-weight: 600;
    color: var(--gray-700);
  }
}

.cover {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(34, 34, 34));
  opacity: 0;

  transition: opacity 200ms;
}

.info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10%;
  height: 5rem;
  opacity: 0;

  transition: all 250ms ease-in-out;
}

.modalContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-700);
  }

  .id {
    background: var(--violet-600);
    float: left;
    width: fit-content;
    padding: 0.5rem 1rem;
    color: var(--white);
    font-weight: 600;
    border-radius: 5px;
  }

  .categories {
    display: flex;
    gap: 1rem;

    span {
      background: var(--violet-200);
      padding: 0.2rem 0.5rem;
      color: var(--violet-600);
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}
