.button {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 0;
  color: var(--gray-400);
}

.active {
  background: var(--violet-200);
  border-radius: 5px;
  font-weight: 600;
  color: var(--violet-600);
}

@media (max-width: 640px) {
  .button {
    &:first-child {
      margin-left: 2rem;
    }
    &:last-child {
      margin-right: 2rem;
    }
  }
}
