.container {
  margin-left: auto;
  height: 2.5rem;
  position: relative;

  input {
    height: 2.5rem;
    border: 0;
    background: var(--gray-100);
    border-radius: 5px;
    outline: none;
    padding-left: 3rem;
  }

  svg {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
  }
}
