.container {
  margin-top: 4rem;
  border-top: 1px solid var(--gray-100);
  padding: 2rem 0;
}

.content {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  a {
    background: var(--violet-600);
    padding: 1rem;
    color: var(--white);
    border-radius: 5px;
    font-weight: 500;
    white-space: nowrap;
  }
}

@media (max-width: 640px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
