.container {
  margin-top: 3rem;
}

.content {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 2rem;
}

.designs {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

@media (max-width: 640px) {
  .designs {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .designs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .designs {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
